body {
    margin: 0;
}

/*
rgba(20, 20, 25, 1); black
rgba(255, 117, 46, 1); orange
rgba(46, 184, 255, 1); blue
*/

#navbar {
    height: 4rem;
    display: flex;
    justify-content: end;
    width: 100%;
    position: sticky;
    top: 0px;
    background-color: rgba(255, 117, 46, 1);
}

.nav-list {
    display: flex;
    margin-right: 2rem;
    list-style: none;
}

.nav-list a {
    display: block;
    height: 100%;
    margin-left: 4rem;
    text-decoration: none;
    color: white;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgba(20, 20, 25, 1);
    color: white;
    font-size: 36px;
}

#welcome-section p {
    color: rgba(255, 117, 46, 1);
    font-size: 28px;
}

@media screen and (max-width: 480px) {
    #welcome-section {
        font-size: 28px;
    }
    #welcome-section {
        font-size: 20px;
    }
}

h2{
    margin: 0;
    color: white;
    margin-bottom: 2rem;
}

#projects {
    height: 68rem;
    text-align: center;
    background-color: rgba(20, 20, 25, 1);
}

#projects-grid {
    display: grid;
    grid-template-columns: 21rem 21rem 21rem;
    grid-template-rows:  28rem 28rem;
    gap: 5rem 5rem;
    width: 73rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background: rgba(50, 50, 55, 1);
    border-radius: 5px;
}

.project-tile {
    height: 28rem;
    width: 21rem;
    border-radius: 5px;
}

.project-image {
    height: 25rem;
    width: 21rem;
    border-radius: 5px;
}

.project-title {
    height: auto;
    width: 21rem;
    text-decoration: none;
    color: white;
}

#profile-link {
    text-decoration: none;
    font-size: 28px;
    color: white;
}

@media screen and (max-width: 480px) {
    #projects-grid {
        grid-template-columns: 21rem;
        grid-template-rows: 28rem 28rem 28rem 28rem 28rem 28rem;
        grid-column-gap: 0;
        grid-row-gap: 2rem;
        width: auto;
        padding: 1rem 0 0 1rem;
    }
}